@import "tailwindcss";

@theme {
  --color-primary: #212121;
  --color-text: #ffffff;
}

@layer base {
  body {
    @apply bg-primary text-text;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
  width: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #111827;
  margin-top: 1px;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

@media (max-width: 640px) {
  .custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

/* Swiper Navigation Arrows */
.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-prev {
  left: 50px;
}

.custom-next {
  right: 50px;
}

/* Hide on small screens */
@media (max-width: 768px) {
  .custom-prev,
  .custom-next {
    display: none;
  }
}
